---
---

.cta-container p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 1em;
    padding-left: 1em;
}

.cta-container .btn {
    width: 100%;
}

.btn + .btn {
    margin-top: 0.5em;
}

@media(min-width: 800px) {
    .cta-container .btn {
      width: auto;
    }

    .btn + .btn {
      margin: 0;
      margin-left: 1em;
    }
}

th {
  background-color: #494d55;
  color: white;
  padding: 0.5em 0em;
}

th:first-child {
  padding-left: 1em;
}

td {
  padding: 0.5em;
}

table {
  border: 1px solid #494d55;
  border-spacing: 0px;
  max-width: 100%;
  overflow: auto;
  break-inside: auto;
  text-align: left;
}

.section-block {
  overflow: hidden;
  overflow-x: auto;
  clear: both;
  width: 100%;
}